$border-radius-breakpoints: (
  0: "0",
  xs: "2",
  sm: "4",
  md: "8",
  lg: "16",
  xl: "24",
  pill: "9999",
  circle: "50%",
);

@include b(application) {
  @each $name, $size in $border-radius-breakpoints {
    .rounded-#{$name} {
      border-radius: #{$size}px !important;
    }
  }
}
